.carousel-indicators {
  li,
  .active {
    width: 16px;
    height: 16px;
    margin: 0 5px;

    border: 2px solid #fff;

    @media (max-width: 500px) {
      width: 8px;
      height: 8px;
      margin: 0 2px;
    }
  }
}

::-webkit-input-placeholder {
  color:#8f9497; font-size: 22px;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}
::-moz-placeholder          {
  color:#8f9497; font-size: 22px;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}/* Firefox 19+ */
:-moz-placeholder           {
  color:#8f9497; font-size: 22px;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}/* Firefox 18- */
:-ms-input-placeholder      {
  color:#8f9497; font-size: 22px;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}