.kalinka_buttons {
  &__button {
    height: 76px;

    font-weight: 600;
    font-size: 18px;
    background: $grey-dark;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;

    text-transform: uppercase;

    &_active {
      background: $khaki-dark;
    }

    &:nth-child(odd) {
      border-right: 1px solid #fff;
    }
    &:nth-child(even) {
      border-left: 1px solid #fff;
    }

    @media (max-width: 500px) {
      height: 32px;
      font-size: 11px;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 100%;

    margin-left: 15px;

    @media (max-width: 500px) {
      height: 20px;
    }
  }

  &__title {
    max-width: 215px;

    display: block;
    white-space: normal;
  }
}