.kalinka-carousel {
  &__caption {
    top: 5px;

    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;

    @media (max-width: 500px) {
      top: -10px;
      font-size: 24px;
      line-height: 26px;
    }
  }

  &__image {
    width: 100%;
  }

  @media (max-width: 500px) {
    margin-top: -35px;
  }
}