.kalinka-contacts {
  background: #f7f8fa;
  padding: 0 39px;

  @media (max-width: 500px) {
    padding: 20px 20px 0 39px;
  }

  &__title {
    padding: 32px 0 6px;
    font-size: 40px;
    text-transform: uppercase;
    color: $grey-dark;

    @media (max-width: 500px) {
      padding: 0px 0 6px;
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 30px;
    color: $khaki-dark;
    letter-spacing: -0.7px;
    margin-bottom: 25px;

    @media (max-width: 500px) {
      font-size: 16px;
      margin-bottom: 11px;
    }
  }

  &__input {
    height: 70px;

    background: #f7f8fa;
    border: 2px solid $khaki-dark;

    @media (max-width: 500px) {
      height: 36px;
    }
  }

  &__button {
    height: 70px;
    width: 245px;

    background: $khaki-dark;
    color: #fff;
    border: none;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -1px;

    @media (max-width: 500px) {
      height: 36px;
      width: 106px;

      font-size: 12px;
    }
  }

  &__address {
    min-height: 200px;

    padding-left: 70px;
    background: url('#{$img}/contacts-pin.png') no-repeat left 20px;

    @media (max-width: 500px) {
      min-height: 100px;
      padding-left: 33px;

      background-size: 23px;
    }
  }

  &__address-title {
    padding-top: 21px;
    color: $grey-dark;
    font-size: 26px;
    font-weight: 600;

    @media (max-width: 500px) {
      padding-top: 0;
      font-size: 14px;
    }
  }

  &__address-time {
    font-size: 26px;
    color: $grey-dark;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 1.5px;

    @media (max-width: 500px) {
      padding-top: 0;
      font-size: 13px;
    }
  }

  &__address-phone {
    font-size: 26px;
    color: $grey-dark;
    font-weight: 600;
    letter-spacing: 1.5px;

    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__address-link {
    color: $khaki-dark;
    padding-top: 7px;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;

    @media (max-width: 500px) {
      padding-top: 0;
      font-size: 14px;
    }
  }
}