.kalinka-filters {
  &__filter {
    margin-top: 35px;

    @media (max-width: 500px) {
      margin-top: 12px;
    }

    &_dark {
      .kalinka-filters__button {
        background: #fff;
        color: $grey-dark;

        &_active {
          background: $grey-dark;
          color: #fff;
        }
      }
    }

    &_khaki {
      .kalinka-filters__button {
        background: #f3f2f0;
        color: $khaki-dark;
        border-color: #fff;

        &_active {
          background: $khaki-dark;
          color: #f3f2f0;
        }
      }
    }
  }
}

.kalinka-filters__button {
  height: 70px;

  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;

  @media (max-width: 500px) {
    height: 40px;

    font-size: 11px;
  }
}