.kalinka-header {
  height: $header-height;
  @media (max-width: 500px) {
    height: $header-height-mobile;
  }

  border-bottom: 1px solid $grey-light;
  box-shadow: 0px 2px 4px 0px rgba(43,55,61,0.15);

  &__logo {
    height: $header-height;

    background: $grey-dark url('#{$img}/logo.png') no-repeat center;
    cursor: pointer;

    @media (max-width: 500px) {
      height: $header-height-mobile;
      background-size: 70%;
    }
  }

  &__menu {
    height: $header-height;
    @media (max-width: 500px) {
      height: $header-height-mobile;
    }

    border-right: 1px solid $grey-light;
  }

  &__icon-bar-container {
    margin-top: 29px;

    @media (max-width: 500px) {
      margin-top: 16px;
      margin-left: -6px;
    }
  }

  &__icon-bar {
    height: 4px;
    width: 32px;
    background: $grey-dark;
    margin: 0 auto 4px;

    @media (max-width: 500px) {
      height: 2px;
      width: 16px;
      margin: 0 auto 2px;
    }
  }

  &__discount {
    height: $header-height;

    border-right: 1px solid $grey-light;

    color: $khaki-dark;
    text-transform: uppercase;
    background: url('#{$img}/percent.png') no-repeat 118px center;

    line-height: $header-height;
    font-weight: 600;
    font-size: 18px;

    @media (max-width: 500px) {
      height: $header-height-mobile;
      line-height: $header-height-mobile;
      
      font-size: 12px;
      text-transform: capitalize;

      background-size: 18px;
      background-position-x: 76px;
    }

  }

  &__call {
    height: $header-height;
    padding-left: 51px;

    color: $grey-dark;
    text-transform: uppercase;
    background: url('#{$img}/phone.png') no-repeat 232px center;

    line-height: $header-height;
    font-weight: 600;
    font-size: 18px;

    @media (max-width: 500px) {
      height: $header-height-mobile;
      line-height: $header-height-mobile;
      
      font-size: 12px;
      text-transform: capitalize;
      letter-spacing: -0.5px;

      background-size: 18px;
      background-position-x: 110px;
    }

  }

  &__first-column {
    @media (min-width: 500px) {
      @include make-xs-column(3);
    }
    @media (max-width: 500px) {
      @include make-xs-column(3);
    }
  }

  &__logo {
    @media (min-width: 500px) {
      @include make-xs-column(6);
    }
    @media (max-width: 500px) {
      @include make-xs-column(7);
    }
  }

  &__menu {
    @media (min-width: 500px) {
      @include make-xs-column(6);
    }
    @media (max-width: 500px) {
      @include make-xs-column(5);
    }
  }

  &__discount {
    @media (min-width: 500px) {
      @include make-xs-column(3);
    }
    @media (max-width: 500px) {
      @include make-xs-column(4);
    }
  }

  &__call {
    @media (min-width: 500px) {
      @include make-xs-column(6);
    }
    @media (max-width: 500px) {
      @include make-xs-column(5);
    }
  }
}
