.kalinka_links {
  margin: 35px 10px;

  @media (max-width: 500px) {
    margin: 15px 0;
  }

  &__button {
    background: #f3f2f0;
    border: 5px solid #fff;

    @media (max-width: 500px) {
      padding: 5px 0;
    }
  }

  &__title {
    max-width: 215px;
    margin-top: 8px;

    display: block;

    color: $grey-dark;

    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;

    line-height: 23px;
    letter-spacing: -0.8px;

    white-space: normal;

    @media (max-width: 500px) {
      font-size: 10px;
      line-height: 17px;
    }
  }

  &__icon {
    @media (max-width: 500px) {
      height: 50px;
    }

  }
}