.kalinka-search {
  &__input {
    height: 82px;

    background: #fff url('#{$img}/search.png') no-repeat 542px center;

    padding-right: 110px;
    padding-left: 67px;
    line-height: 82px;
    letter-spacing: -0.7px;

    border: none;
    outline: none;

    @media (max-width: 500px) {
      height: 37px;

      padding: 0 20px;

      background-position-x: 283px;
      background-size: 18px;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}