.kalinka-title {
  &__title {
    margin-top: 18px;

    text-align: center;

    color: $grey-dark;
    font-weight: 600;
    font-size: 44px;

    @media (max-width: 500px) {
      margin-top: 13px;
      font-size: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 50px;
    
    text-align: center;

    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 37px;
    line-height: 28px;
    color: $khaki-dark;

    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 18px;
    }
  }
}