.kalinka-types {
  width: 100%;

  .dropdown, .dropdown-menu {
    width: 100%;
  }

  &__dropdown {
    width: 100%;
    margin-top: 35px;
    height: 82px;

    background: $khaki-dark !important;
    color: #fff !important;

    font-size: 23px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: 600;

    .caret {
      display: none;
    }

    @media (max-width: 500px) {
      margin-top: 12px;
      height: 30px;

      padding: 0;

      font-size: 16px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__chevron {
    margin-left: 28px;

    font-size: 32px;
    color: $grey-dark;

    @media (max-width: 500px) {
      margin-left: 10px;

      font-size: 12px;
      line-height: 20px;
    }
  }

  &__menu-item {
    width: 100%;
  }
}